

.alert-container {
    position:           absolute;
    display:            flex;
    justify-content:    center;
    width:              100%;
    margin-top:         -200px;
    padding-top:        30px;
}

.alert {
    display:            flex;
    justify-content:    flex-start;
    align-items:        center;
    padding:            10px 10px 10px 20px;
    border-radius:      8px;
}

.alert > button.btn-close-widget {
    transition: background-color 0.2s ease-in;
    cursor:     pointer;
    *cursor:    hand;
}


.alert.warning,
.alert.warning > button {
    background-color: #FFC107;
}

.alert.warning > button > i {
    transition: color 0.2s ease-in;
    color:      #8B6900;
}

.alert.warning > button:hover { background-color: #C7990E; }


.alert.danger,
.alert.danger > button {
    background-color: #DC3545;
}

.alert.danger > button > i {
    transition: color 0.2s ease-in;
    color:      #9B0C1A;
}

.alert.danger > button:hover { background-color: #BB1D2D; }



.btn-close-widget {
    display:            flex;
    justify-content:    center;
    align-items:        center;
    width:              32px;
    height:             32px;
    margin-left:        20px;
    border-radius:      4px;
    border:             none;
    outline:            none;
}



.card-alerts {
    position:           absolute;
    display:            flex;
    justify-content:    flex-end;
    right:              -6px;
    top:                -6px;
}



*[class*="feather"] { vertical-align: text-bottom; }

.feather-sm {
    width:  10px;
    height: 10px;
}

.feather,
.feather-md {
    width:  16px;
    height: 16px;
}



.link { text-decoration: none; }



@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}



.wrap-loader.loading {
    animation-duration:         1.25s;
    animation-fill-mode:        forwards;
    animation-iteration-count:  infinite;
    animation-name:             placeHolderShimmer;
    animation-timing-function:  linear;
    background:                 #D9E2E2;
    background:                 linear-gradient(to right, #F8F9FA 8%, #D9E2E2 18%, #F4F5F7 33%);
    background-size:            800px 104px;
    position:                   relative;
}
